// container breakpoints
$xl: 1150px;
$lg: 970px;
$md: 730px;
$sm: 550px;
$xs: 320px;

// styles
$font_size: 18px;
$font_family: 'Gilroy-400';

// colors
$white: #ffffff;
$black: #000000;
$dark: #333333;
$border_color: #d6d6d6;
$bg_color: #e5e5e5;