<template>
  <section class="bg">
    <div class="title-blog">
      <Title :title="titlee" :sub="subtitle" />
    </div>
    <div class="item">
      <div class="container">
        <img :src="post.img" alt="img" class="img">
        <div class="text">
          <h3 class="title">{{ post.title }}</h3>
          <p class="sub">{{ post.text }}</p>
        </div>
      </div>
    </div>
    <Footer/>
  </section>
</template>

<script>
import Title from "@/layouts/Title"
import Footer from '@/views/Home/components/Footer.vue'
import blog from '@/blog_posts.js'
export default {
  data() {
    return {
      titlee: "JEWELLERY BLOG",
      subtitle: "Articles by Australian designer Simone Walsh",
      blogs:blog,
      postId:this.$route.params.postId
    };
  },
  components: {
    Title,
    Footer
  },
  computed: {
    post() {
      return this.blogs.find(post => post.id === this.postId)
    },
  },
};
</script>

<style lang="scss">
@import '../../../assets/styles/components/_vars.scss';
@import '../../../assets/styles/components/_mixins.scss';
.bg {
  width: 100%;
  height: 100vh;
  
  .title-blog {
    background: url(https://cdn.shopify.com/s/files/1/0021/6592/files/banner-gold-coral-necklace_1600x.jpg?v=1635487500)
      no-repeat center / cover;
    padding: 150px 0;
    color: $white;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba($black, $alpha: 0.4);
    }
  }
  .item {
    padding: 60px;
    position: relative;
    object-fit: cover;
    z-index: 999;
    .container {
      display: flex;
      justify-content: center;
      gap: 50px;
      // Media
      @include media(852px){
        flex-direction: column;
        align-items: center;
      }
      .img {
        width: 300px;
        height: 350px;
        background: $dark;
      }

      .text {
        width: 500px;
        @include media(852px){
          text-align: center;
        }
        @include media(554px){
          width: 345px;
        }
        .title{
          font-size: 20px;
          font-weight: 600;
          padding-bottom: 20px;
        }
        
        .sub{
          font-size: 18px;
        }
      }
    }
  }
}
</style>