@import '../../styles/components/vars.scss';
@import '../../styles/components/mixins.scss';
.footer{
  .container{
    .wrapper{
      display: flex;
      justify-content: space-between;
      padding-top: 80px;
      @include media(1149px){
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
      }
      
      .links{
        display: flex;
        flex-direction: column;
        width: 255px;
        margin-bottom: 20px;
        
        
        .title{
          font-size: 18px;
          font-weight: 400;
          text-transform: uppercase;
          padding-bottom: 10px;
          width: 255px;
          border-bottom: 1px solid $dark;
          margin-bottom: 30px;
          @include sm {
            text-align: center;
            margin-bottom: 15px;
          }
        }
        
        .link{
          color: $dark;
          font-size: 14px;
          padding-bottom: 15px;
        }
      }
      .payment{
        display: flex;
        flex-direction: column;
        width: 255px;
        margin-bottom: 20px;
        
        .title{
          font-size: 18px;
          font-weight: 400;
          text-transform: uppercase;
          padding-bottom: 10px;
          width: 255px;
          border-bottom: 1px solid $dark;
          margin-bottom: 30px;
          @include sm {
            text-align: center;
            margin-bottom: 15px;
          }
        }
        
        .sub{
          font-size: 14px;
          line-height: 21px;
          padding-bottom: 20px;
        }
        
        .box{
          display: flex;
          gap: 20px;
        }
      }
      .contact{
        width: 255px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        
        .title{
          font-size: 18px;
          font-weight: 400;
          text-transform: uppercase;
          padding-bottom: 10px;
          width: 255px;
          border-bottom: 1px solid $dark;
          margin-bottom: 30px;
          @include sm {
            text-align: center;
            margin-bottom: 15px;
          }
        }
        
        .box{
          display: flex;
          gap:20px;
          margin-bottom: 15px;
          
          span{
            font-size: 14px;
          }
        }
      }
      .social{
        width: 255px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        
        .title{
          font-size: 18px;
          font-weight: 400;
          text-transform: uppercase;
          padding-bottom: 10px;
          width: 255px;
          border-bottom: 1px solid $dark;
          margin-bottom: 30px;
          @include sm {
            text-align: center;
            margin-bottom: 15px;
          }
        }
        
        .sub{
          font-size: 14px;
          line-height: 21px;
          padding-bottom: 27px;
        }
        
        .box{
          display: flex;
          align-items: center;
          gap: 20px;
        }
      }
    }
  }
  .line{
    .container{
      margin-top: 60px;
      padding: 20px 0;
      border-top: 1px solid $dark;
      display: flex;
      justify-content: space-between;
      @include sm{
        justify-content: center;
        margin-top: 30px;
        flex-direction: column;
        text-align: center;
      }
      .link{
        font-size: 14px;
        color: $dark;
        @include sm{
          padding-bottom: 10px;
        }
        
      }
    }
  }
}