@import '../components/_vars.scss';
@import '../components/_mixins.scss';

.header{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	color: $white;
	z-index: 9999999;

	.navbar{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 43px 0;

		.burger-box{
			display: flex;
			align-items: center;
			gap: 20px;

			.burger-auth{
				font-size: 25px;
			}

			.burger{
				width: 30px;
				height: 30px;
				display: flex;
				justify-content: center;
				align-items: center;
				border: 2px solid $white;
				color: $white;
				border-radius: 5px;
				font-size: 18px;
			}
		}
		

		.menu{
			display: flex;
			gap: 40px;

			.menu-item{
				.link{
					font-size: 14px;
					color: $white;
				}
			}
		}

		.logo{
			width: 216px;
			position: absolute;
			transition: 0.5s;
			left: 50%;
			transform: translateX(-50%);
			// Media
			@include lg{
				position: relative;
				width: 100px;
				left: 0;
				transform: translateX(0);
				z-index: 999;
			}

			&.dark{
				filter: invert(80%);
			}

			.logo-image{
				width: 100%;
			}
		}

		.actions{
			display: flex;
			align-items: center;
			gap: 40px;
			font-size: 14px;

			.search{
				display: flex;
				align-items: center;
				gap: 16px;
				cursor: pointer;
			}

			.auth{
				cursor: pointer;
			}

			.act{
				display: flex;
				gap: 30px;
				
				i{
					cursor: pointer;
				}
			}
		}

		// Burger
		.burger-menu{
			position: fixed;
			left: 0;
			top: 0;
			width: 250px;
			height: 100vh;
			background: $white;
			color: $dark;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 100px 20px 30px;
			transition: 0.5s;
			z-index: 99;
			transform: translateX(-100%);

			&.active{
				transform: translateX(0);
			}

			.mobile-menu{
				.item{
					a{
						font-size: 20px;
						font-weight: 500;
						color: $dark;
						padding: 15px 0;
					}
				}
			}

			.block{
				.search-block{
					display: flex;
					align-items: center;
					width: 100%;
					padding: 10px;
					border-radius: 50px;
					border: 1px solid $dark;

					i{
						font-size: 15px;
					}

					input{
						background: none;
						border: none;
						padding-left: 10px;
					}
				}

				.box{
					display: flex;
					justify-content: center;
					gap: 20px;
					margin-top: 15px;
					font-size: 20px;
				}
			}
		}
	}
}