<template>
	<section class="blogs">
		<div class="block">
			<Title :title="title" :sub="subtitle" />
		</div>
		<div class="container wrapper">
			<BlogCard 
				v-for="post in posts"
				:key="post.id"
				:title="post.title"
				:desc="post.text"
				:image="post.img"
				@click="$router.push({ name: 'Post', params: { postId: post.id } })"
			/>
		</div>
		<Footer/>
	</section>
</template>

<script>
import Title from '@/layouts/Title'
import BlogCard from '@/layouts/BlogCard'
import BlogPosts from '@/blog_posts.js'
import Footer from '../../../src/views/Home/components/Footer.vue'

export default {
	components: {
		Title,
		BlogCard,
		Footer
	},
	data() {
		return {
			title: 'JEWELLERY BLOG',
			subtitle: 'Articles by Australian designer Simone Walsh',
			posts: BlogPosts
		}
	},
}
</script>

<style lang="scss">
@import '../../assets/styles/components/_vars.scss';
@import '../../assets/styles/components/_mixins.scss';

	.blogs{

		.block{
			padding: 200px 0;
			background: url(https://cdn.shopify.com/s/files/1/0021/6592/files/banner-gold-coral-necklace_1600x.jpg?v=1635487500) no-repeat center / cover;
			color: $white;
			position: relative;

			&::before{
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: rgba($black, $alpha: 0.4);
			}

		}
		.wrapper{
			display: flex;
			justify-content: space-between;
			gap: 30px 0;
			flex-wrap: wrap;
			margin: 100px auto;
			// Media
			@include lg{
				margin: 50px auto;
				justify-content: center;
				gap: 25px;
			}
		}
	}
</style>