<template>
	<section class="event">
		<div class="container">
			<Title :sub="subtitle" :title="title" />

			<div class="btns-wrapper">
				<button
					v-for="(item, idx) in collection"
					:key="item.id"
					class="btn"
					:class="{ active : activeBtn === idx }"
					@click="activeBtn = idx"
				>
					<span>{{ item.ctg_name.text }}</span>
				</button>
			</div>

			<div class="cards-wrapper">
				<div
					v-for="item in collection[activeBtn].data"
					:key="item.product_id"
					class="card"
					@click="isOpen = item"
				>
					<img :src="item.img" :alt="item.title">
					<h3 class="title">{{ item.title }}</h3>
				</div>
			</div>
		</div>
	</section>

	<HomeModal
		@action="isOpen = null"
		v-if="isOpen"
		:item="isOpen"
	/>
</template>

<script>
import Title from '@/layouts/Title'
import Collection from '@/collection.js'
import HomeModal from './HomeModal'

export default {
	components: {
		Title,
		HomeModal
	},
	data() {
		return {
			activeBtn: 0,
			subtitle: 'К мероприятиям',
			title: 'Настоящая красота здесь!',
			collection: Collection,
			isOpen: null
		}
	},
}
</script>

<style lang="scss">
	@import '../../../assets/styles/Pages/Home/Event-section.scss';
</style>