<template>
  <footer class="footer">
    <div class="container">
      <div class="wrapper">
        <div class="links" >
          <h3 class="title">{{ title }}</h3>
          <a href="#" class="link" v-for="lnk in linkArray" :key="lnk.link">{{ lnk.link }}</a>
        </div>
        <div class="payment">
          <h3 class="title">{{ pay_title }}</h3>
          <p class="sub">{{ sub }}</p>
          <div class="box">
            <img :src="master_card" alt="mastercard">
            <img :src="visa" alt="visa">
          </div>
        </div>
        <div class="contact">
          <h3 class="title">{{ contact_title }}</h3>
          <div class="box">
            <img :src="phone_img" alt="">
            <span>{{ contact_number }}</span>
          </div>
          <div class="box">
            <img :src="phone_img" alt="">
            <span>{{ contact_number }}</span>
          </div>
          <div class="box">
            <img :src="email_img" alt="">
            <span>{{ contact_email }}</span>
          </div>
        </div>
        <div class="social">
          <h3 class="title">{{ social_title }}</h3>
          <p class="sub">{{ social_sub }}</p>
          <div class="box">
            <img :src="image.img" alt="" v-for="image in imgArray" :key="image.img">
          </div>
        </div>
      </div>
    </div>
    <div class="line">
      <div class="container">
        <a href="#" class="link" v-for="lnk in lineArray" :key="lnk.link">{{ lnk.link }}</a>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  data(){
    return{
      title:'Полезные ссылки',
      contact_title:'контакты',
      social_title:'социальные сети',
      social_sub:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper justo, nec, pellentesque.',
      contact_number:'8 (812) 234-56-55',
      contact_email:'ojjo@ojjo.ru',
      pay_title:'оплата',
      sub:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper justo, nec, pellentesque.',
      master_card:require('../../../assets/images/footer/card.png'),
      visa:require('../../../assets/images/footer/visa.png'),
      phone_img:require('../../../assets/images/footer/phone.png'),
      email_img:require('../../../assets/images/footer/email.png'),
      linkArray:[
        {
          link:'Оплата ',
        },
        {
          link:'Акции',
        },
        {
          link:'Доставка',
        },
        {
          link:'Политика конфиденциальности'
        },
      ],
      imgArray:[
        {
          img:require('../../../assets/images/footer/youtube.png')
        },
        {
          img:require('../../../assets/images/footer/vk.png')
        },
        {
          img:require('../../../assets/images/footer/facebok.png')
        },
        {
          img:require('../../../assets/images/footer/tg.png')
        },
        {
          img:require('../../../assets/images/footer/e.png')
        },
      ],
      lineArray:[
        {
          link:'(c) 2020 OJJO jewelry'
        },
        {
          link:'Договор публичной офферты'
        },
        {
          link:'Контрагентам'
        },
        {
          link:'Сделано Figma.info'
        },
      ]
    }
  }
}
</script>

<style lang="scss">
@import '../../../assets/styles/Pages/footer.scss';
</style>