<template>
  <section class="gallery">
    <div class="container">
      <Title :title="title" :sub="subtitle"/>
      <div class="wrapper">
        <div class="video">
          <div class="btns">
            <button @click="play" v-if="!isPlaying"><i class="fa-solid fa-circle-play"></i></button>
          <button v-if="isPlaying" @click="stop"><i class="fa-solid fa-circle-pause"></i></button>
          </div>
          <video ref="myvideo" :src="video_one"></video> 
        </div>
        <img :src="image_one" alt="image" class="image">
        <img :src="image_two" alt="image" class="image">
        <img :src="image_three" alt="image" class="image">
        <img :src="image_four" alt="image" class="image">
        <div class="video">
          <div class="btns">
            <button @click="play" v-if="!isPlaying"><i class="fa-solid fa-circle-play"></i></button>
          <button v-if="isPlaying" @click="stop"><i class="fa-solid fa-circle-pause"></i></button>
          </div>
          <video ref="myvideo" :src="video_two"></video>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Title from '../../../layouts/Title.vue'

export default {
  components:{
    Title,
    
  },
  data(){
    return{
      title:'Мы в социальных сетях',
      subtitle:'#ojjo_jewerly',
      video_one:require('../../../assets/images/products/video-1.mp4'),
      video_two:require('../../../assets/images/products/video-2.mp4'),
      image_one:require('../../../assets/images/products/gallery_1.png'),
      image_two:require('../../../assets/images/products/gallery_2.png'),
      image_three:require('../../../assets/images/products/gallery_3.png'),
      image_four:require('../../../assets/images/products/gallery_4.png'),
      isPlaying: false
    }
  },
   methods: {
  	play() {
    	this.$refs.myvideo.play()
      this.isPlaying = true
    },
    stop() {
    	this.$refs.myvideo.pause()
      this.isPlaying = false
    },
  }
 
}
</script>

<style lang="scss">
@import '@/assets/styles/components/_vars.scss';
@import '@/assets/styles/components/_mixins.scss';
.gallery{
  .container{
    .wrapper{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin:60px 0 60px;
      
      
      .video{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        video{
        width: 555px;
        height: 300px;
        object-fit: cover;

        // Media
        @include md {
          width: 460px;
        }
        // Media 
        @include sm {
          width: 335px;
          height: 250px;
        }
        @include xs {
          width: 280px;
        }
        
       }
      
       
       .btns{
         display: flex;
         gap: 20px;
           position: absolute;
         button{
       
        
         border-radius: 50px;
         z-index: 999;
         cursor: pointer;
         i{
           font-size: 45px;
           color: #333;
         }
       }
       }
      }
      
      .image{
        width: 277px;
        height: 300px;
        object-fit: cover;
        cursor: pointer;
        // Media
        @include md {
          width: 230px;
        }
        @include sm {
          width: 340px;
          height: 250px;
        }
      }
    }
  }
}
</style>