<template>
	<section class="home-blog">
		<div class="container">
			<Title :sub="subtitle" :title="title" />
			<div class="wrapper">
				<BlogCard 
					v-for="post in cutBlogArray"
					:key="post.id"
					:title="post.title" 
					:image="post.img"
					@click="$router.push({ name: 'Post', params: { postId: post.id } })"
				/>
			</div>
			<Button @click="$router.push({name: 'Blog'})">{{ btn_text }}</Button>
		</div>
	</section>
</template>

<script>
import Title from '@/layouts/Title'
import Button from '@/layouts/Button'
import BlogCard from '@/layouts/BlogCard'
import BlogPosts from '@/blog_posts.js'

export default {
	components: {
		Title,
		Button,
		BlogCard
	},
	data() {
		return {
			subtitle: 'Полезные статьи',
			title: 'Лучшие советы по подбору дорогих подарков',
			btn_text: 'читать наш блог',
			blog_array: BlogPosts,
		}
	},
	computed: {
		getRandomArray() {
			const max = BlogPosts.length - 3
			const min = 0
			return Math.floor(Math.random() * (max - min) + min)
		},
		cutBlogArray() {
			return this.blog_array.slice(this.getRandomArray, this.getRandomArray + 3)
		},
	},
}
</script>

<style lang="scss">
@import '../../../assets/styles/components/_vars.scss';
@import '../../../assets/styles/components/_mixins.scss';

	.home-blog{
		padding: 120px 0;
		text-align: center;
		// Media
		@include md{
			padding: 50px 0;
		}

		.wrapper{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			padding: 60px 0;
			// Media
			@include lg{
				justify-content: center;
				gap: 30px;
			}
			@include md{
				padding: 30px 0;
			}
		}
	}

</style>