<template>
	<section class="main-section">
		<div class="content">
			<h1 class="main-title">Долго, дорого, богато!</h1>
			<Button>Каталог изделий</Button>
		</div>
		<Brands />
	</section>
</template>

<script>
import Button from '@/layouts/Button'
import Brands from '../components/Brands'

export default {
	components: {
		Button,
		Brands
	}
}
</script>

<style lang="scss" scoped>
	@import '@/assets/styles/Pages/Home/Main-section.scss';
</style>