<template>
	<section class="email">
		<Title :title="title" :sub="subtitle"/>
	  <div class="container">
				<div class="wrapper">
					<div class="email_text">
						<div class="text" v-for="text in textArray" :key="text.title">
						<img :src="img" alt="">
						<a href="#" class="title">{{ text.title }}</a>
					</div>
					</div>
					<div class="form_val">
						<form @submit.prevent="SendMail">
						<input type="text" placeholder="Ваш e-mail" v-model="message">
						<button class="btn" :disabled="is_loading">{{ is_loading ? "sending" : "send" }}</button>
					</form>
					</div>
		</div>
		</div>
	</section>
</template>

<script>
import Title from '../../../layouts/Title.vue'
export default {
	components:{
		Title
	},
	data() {
		return {
			img:require('../../../assets/images/products/subscribe__icon.png'),
			title:'Полезные советы и персональный предложения',
			subtitle:'Эксклюзивная рассылка',
			btn:'отправить',
			btnSend:'отправлено',
			
			token:'5175319864:AAFVzKPMlKe_SCy9NXKT61ui2Y6pbb_IdPI',
			chatId:'-757456846',
			message:'',
			is_loading:0,
			textArray:[
				{
					title:'Личный менеджер'
				},
				{
					title:'Доставка и оформление'
				},
				{
					title:'Индивидуальный дизайн'
				},
			]
		}
	},
	methods:{
		async SendMail() {
			this.is_loading = true
			const sms = JSON.stringify(this.message)
			await fetch(`https://api.telegram.org/bot${this.token}/sendMessage?chat_id=${this.chatId}&parse_mode=html&text=${sms}`)
			this.is_loading = false
			this.message = ''
		},
		btnSend(){
			this.btn = ''
		}
	},
}
</script>

<style lang="scss">
@import '../../../assets/styles/components/_vars.scss';
@import '../../../assets/styles/components/_mixins.scss';
	.email{
		padding: 100px 0;
		background: url('../../../assets/images/layouts/sec-bg.jpg')no-repeat center / cover;
		color: $white;
		
		.container{
			.wrapper{
				display: flex;
				justify-content: center;
				align-items: center;
				margin-top: 60px;
				gap: 80px;
				// Media
				@include md{
					flex-direction: column;
					gap: 40px;
					margin-top: 30px;
				}
				
				.email_text{
					.text{
						display: flex;
					  align-items: center;
						margin-bottom: 15px;
					  gap: 20px;
						
						
						.title{
							font-weight: 400;
							font-size: 18px;
							color: $white;
						}
					}
				}
				
			.form_val{
				border: 1px solid $white;
				form{
					margin: 14px;
					padding: 20px;
					display: flex;
					align-items: center;
					gap: 15px;
					background: $white;
					@include media(442px){
						padding: 10px;
					}
					
					input{
						width: 200px;
						height: 45px;
						padding-left: 10px;
						font-size: 14px;
						border: 1px solid #D6D6D6;
						&::-webkit-input-placeholder{
							text-transform: uppercase;
						}
						@include media(442px){
						  width: 160px;
					  }
						
					
					}
					
					.btn{
						width: 160px;
						height: 45px;
						background: $dark;
						color: $white;
						text-transform: uppercase;
						font-size: 14px;
							@include media(442px){
						  width: 110px;
					  }
					}
				}
			}
				
			}
		}
	}
</style>