<template>
	<MainSection />
	<Event />
	<Salons />
	<HomeBlog />
	<Gallery/>
	<SendMail/>
	<Footer/>
</template>

<script>
import MainSection from './components/Main-section'
import Event from './components/Event'
import Salons from './components/Salons'
import HomeBlog from './components/HomeBlog'
import SendMail from './components/SendMail.vue'
import Gallery from './components/Gallery.vue'
import Footer from './components/Footer.vue'

export default {
	components: {
		MainSection,
		Event,
		Salons,
		HomeBlog,
		SendMail,
		Gallery,
		Footer
	}
}
</script>