<template>
	<Navbar @openSerchBar="isSearchActive = true" />
	<SearchBar :isActive="isSearchActive" @closeSearchBar="isSearchActive = false" />
  <router-view/>
</template>

<script>
import Navbar from './layouts/Navbar'
import SearchBar from './layouts/SearchBar'

export default {
	data() {
		return {
			isSearchActive: false,
		}
	},
	components: {
		Navbar,
		SearchBar
	}
}
</script>

<style lang="scss">
@import './assets/styles/main.scss';
</style>
