@import '../../components/_vars.scss';
@import '../../components/_mixins.scss';

.main-section{
	width: 100%;
	min-height: 100vh;
	background: url(../../../assets/images/layouts/main-bg.jpg) no-repeat center / cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	min-height: 100vh;
	text-align: center;

	.content{
		margin-bottom: 80px;
		// Media
		@include md{
			margin-bottom: 50px;
		}

		.main-title{
			font-size: 36px;
			font-family: 'Noto', sans-serif;
			color: $white;
			margin-bottom: 50px;
			// Media
			@include md{
				font-size: 25px;
				margin-bottom: 30px;
			}
		}
	}
}